# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache

# Environment
.env
.env.backup
.env.production
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db